@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Inter&family=Poppins&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*[style*="overflow"] {
  scroll-behavior: smooth;
}

html {
  padding: 0;
  margin: 0;

  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  background-color: #eee;
}

/* Next Container */
#__next {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chakra-toast-portal {
  position: fixed;
}
.chakra-toast {
  margin: auto 10px 10px;
}
